* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, var(--black), var(--dark-blue));
	color: var(--white)
}
:root {
    --black: #1C1C1C;
    --dark-blue: #1F2937;
    --green: #55F991;
    --main-btn: #10B981;
    --soft-green: #ECFDF5;
    --medium-grey: #D5D4D8;
    --dark-grey: #2F3E53;
    --white: #ffffff;
}
/* NAVBAR */
nav {
    width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	position: sticky;
}
#logo img {
	height: 35px;
}
ul {
	list-style: none;
	font-size: 1rem;
	display: flex;
}
li {
	margin: 5px;
}
a, a:visited, a:focus {
	text-decoration: none;
	color: var(--green);
}
a:hover {
	color: var(--soft-green);
}

#movie-view {
    width: 100%;
}
.movie-container {
    margin: 20px auto;
    padding: 20px;
    width: 95%;
	min-height: 60vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
	gap: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.movie-container #poster, .description-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    opacity: 100%;
}
#backdrop {
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 20%;
    filter: blur(5px);
}
.description-container {
    padding: 15px;
    max-width: 90%;
}
h2 {
    font-size: 2.5rem;
	font-weight: 600;
	color: var(--green);
}
p {
    margin: 10px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--soft-green);
}
.average {
	margin: 5px 5px 0;
	width: 25px;
	height: 25px;
	font-size: 0.8rem;
	background-color: var(--soft-green);
	color: var(--dark-grey);
	border-radius: 50%;
	border: var(--dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}
span {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--main-btn);
}

/* FOOTER */
footer {
	width: 100%;
	padding: 10px 20px;
	background-color: var(--dark-grey);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer p, ul {
    max-width: 360px;
	margin: 10px 10px;
    font-size: 1rem;
	text-align: center;
}
footer img {
	width: 30px;
}
.tmdb-logo {
	margin: 10px;
	height: 15px;
	width: auto;
}
@media screen and (min-width: 769px) {
	footer {
		justify-content: space-between;
	}
    footer p {
        text-align: left;
    }
}